# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

#dipendeze esterne
bower_components
.DS_Store
node_modules
npm-debug.log
build
.sass-cache