<md-toolbar layout="row">
    <div class="md-toolbar-tools" layout>
        <div layout="row" flex>
            <a ui-sref="staticHome">Let's Moove</a>
        </div>
        <div layout="row" ng-controller="logoutController as user" flex="initial">
            <md-button ng-hide="user.userData.loggedIn" ui-sref="signup">
                Iscriviti
            </md-button>
            <md-button ng-hide="user.userData.loggedIn" ui-sref="login">
                Accedi
            </md-button>

            <md-button ng-show="user.userData.loggedIn" ui-sref="search">
                <md-icon>search</md-icon>
                Cerca
            </md-button>
            <md-button ng-show="user.userData.loggedIn" ui-sref="insert">
                <md-icon>add</md-icon>
                Inserisci
            </md-button>
            <md-button ng-show="user.userData.loggedIn" ui-sref="userHome">
                <md-icon>account_circle</md-icon>
                Profilo
            </md-button>
            <md-button ng-show="user.userData.loggedIn" ng-click="user.logout()">
                <md-icon>exit_to_app</md-icon>
                Log Out
            </md-button>
        </div>
    </div>
</md-toolbar>
