---
name: insert
url: /insert
---


    <div layout="column" layout-margin>
        <form name="pathForm">
            <div>
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <div layout="row">
                                <div flex="20" layout-margin>
                                    <img src="/assets/img/white-flag.jpg">
                                </div>
                                <div layout-margin layout="column" flex="70">
                                    <md-input-container>
                                        <label>Nome del percorso</label>
                                        <input type="text" ng-model="path.name">
                                    </md-input-container>
                                    <md-input-container>
                                        <label>Sottotitolo (opzionale)</label>
                                        <input type="text" ng-model="path.subtitle">
                                    </md-input-container>
                                </div>
                            </div>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
            </div>
            <div>
                <md-card>
                    <md-card-content>
                        <div layout="row" layout-sm="column">
                            <div flex>
                                <md-list>
                                    <md-list-item class="md-3-line">
                                        <div class="md-list-item-text">
                                            <div layout="row" layout-align="start center">
                                                <i class="material-icons">trending_flat</i>

                                                <div layout="column">
                                                    <div layout="row" layout-align="start center">
                                                        <md-input-container>
                                                            <label>Lunghezza</label>
                                                            <input name="numberInput" class="insert-input" type="text"
                                                                   ng-model="path.pathData.length" required
                                                                   ng-pattern="/^[0-9]{4}$/">
                                                        </md-input-container>
                                                        <span>metri</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <md-divider></md-divider>
                                    </md-list-item>

                                    <md-list-item class="md-3-line">
                                        <div class="md-list-item-text">
                                            <div layout="row" layout-align="start center">
                                                <i class="material-icons">trending_up</i>

                                                <div layout="column">
                                                    <div layout="row" layout-align="start center">
                                                        <md-input-container>
                                                            <label>Altitudine</label>
                                                            <input class="insert-input" type="text"
                                                                   ng-model="path.pathData.altitude" required
                                                                   ng-pattern="/^[0-9]{4}$/">
                                                        </md-input-container>
                                                        <span>metri s.l.m.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <md-divider></md-divider>
                                    </md-list-item>

                                    <md-list-item class="md-3-line">
                                        <div class="md-list-item-text">
                                            <div layout="row" layout-align="start center">
                                                <i class="material-icons">swap_vert</i>

                                                <div layout="column">
                                                    <div layout="row" layout-align="start center">
                                                        <md-input-container>
                                                            <label>Dislivello</label>
                                                            <input class="insert-input" type="text"
                                                                   ng-model="path.pathData.deltaAltitude" required
                                                                   ng-pattern="/^[0-9]{4}$/">
                                                        </md-input-container>
                                                        <span>metri</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <md-divider hide show-sm></md-divider>
                                    </md-list-item>
                                </md-list>
                            </div>
                            <div flex>
                                <md-list>
                                    <md-list-item class="md-3-line">
                                        <div class="md-list-item-text">
                                            <div layout="row" layout-align="start center">
                                                <i class="material-icons">terrain</i>

                                                <div layout="column">
                                                    <div layout="row" layout-align="start center">
                                                        <label style="margin-left: 5px; margin-right: 10px;">Tipo di
                                                            terreno</label>
                                                        <md-select ng-model="path.pathData.terrainType"
                                                                   style="min-width: 100px; text-align: center;">
                                                            <md-option value="sterrato">sterrato</md-option>
                                                            <md-option value="misto">misto</md-option>
                                                            <md-option value="asfaltato">asfaltato</md-option>
                                                            </md-option>
                                                        </md-select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <md-divider></md-divider>
                                    </md-list-item>

                                    <md-list-item class="md-3-line">
                                        <div class="md-list-item-text">
                                            <div layout="row" layout-align="start center">
                                                <i class="material-icons">explore</i>

                                                <div layout="column">
                                                    <div layout="row" layout-align="start center">
                                                        <label style="margin-left: 5px; margin-right: 10px;">Percorso
                                                            avventuroso</label>
                                                        <md-switch ng-model="path.pathData.adventure">
                                                        </md-switch>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <md-divider></md-divider>
                                    </md-list-item>
                                    <md-list-item class="md-3-line">
                                        <div class="md-list-item-text">
                                            <div layout="row" layout-align="start center">
                                                <i class="material-icons">alarm</i>

                                                <div layout="column">
                                                    <div layout="row" layout-align="start center">
                                                        <md-input-container>
                                                            <label>Completamento</label>
                                                            <input class="insert-input" type="text"
                                                                   ng-model="path.pathData.time" required
                                                                   ng-pattern="/^[0-9]{3}$/">
                                                        </md-input-container>
                                                        <span>minuti</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </md-list-item>
                                </md-list>
                            </div>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
            <div>
                <md-card>
                    <md-card-content>
                        <md-input-container style="width:100%;">
                            <label>Descrizione</label>
                                <textarea ng-model="path.description" columns="10" md-maxlength="300"
                                          rows="5"></textarea>
                        </md-input-container>
                    </md-card-content>
                </md-card>
            </div>
            <div>
                <md-card>
                    <md-card-content layout="row">
                        <div layout="column" style="text-align:center" flex>
                            <label align="center">Bellezza</label>

                            <div layout-align="center center" layout="row" layout-sm="column">
                                <md-icon class="color-yellow star">star_rate</md-icon>
                                <md-icon class="color-yellow star">star_rate</md-icon>
                                <md-icon class="color-yellow star">star_rate</md-icon>
                                <md-icon class="color-yellow star">star_rate</md-icon>
                                <md-icon class="color-yellow star">star_rate</md-icon>
                                {{pathController.path.ownerVote.beauty}}
                            </div>
                        </div>
                        <div layout="column" style="text-align:center" flex>
                            <label align="center">Complessità</label>

                            <div layout-align="center center" layout="row" layout-sm="column">
                                <md-icon class="color-yellow star">star_rate</md-icon>
                                <md-icon class="color-yellow star">star_rate</md-icon>
                                <md-icon class="color-yellow star">star_rate</md-icon>
                                <md-icon class="color-yellow star">star_rate</md-icon>
                                <md-icon class="color-yellow star">star_rate</md-icon>
                                {{pathController.path.ownerVote.complexity}}
                            </div>
                        </div>
                        <div layout="column" style="text-align:center" flex>
                            <label align="center">Difficoltà</label>

                            <div layout-align="center center" layout="row" layout-sm="column">
                                <md-icon class="color-yellow star">star_rate</md-icon>
                                <md-icon class="color-yellow star">star_rate</md-icon>
                                <md-icon class="color-yellow star">star_rate</md-icon>
                                <md-icon class="color-yellow star">star_rate</md-icon>
                                <md-icon class="color-yellow star">star_rate</md-icon>
                                {{pathController.path.ownerVote.difficulty}}
                            </div>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
            <div>
                <md-card>
                    <md-card-content>
                        <md-toolbar>
                            <div class="md-toolbar-tools">
                                <label>Tappe</label>
                                <span flex></span>
                            </div>
                        </md-toolbar>
                        <md-dialog-content>
                            <md-tabs md-dynamic-height md-border-bottom>
                                <md-tab label="Inizio">
                                    <md-content>
                                        <div layout="row" layout-sm="column">
                                            <md-input-container flex>
                                                <label>Coordinata di inizio (N)</label>
                                                <input type="text"
                                                       ng-model="path.locationData.stages[0].location.coordinates[0]">
                                            </md-input-container>
                                            <md-input-container flex>
                                                <label>Coordinata di inizio (E)</label>
                                                <input type="text"
                                                       ng-model="path.locationData.stages[0].location.coordinates[1]">
                                            </md-input-container>
                                        </div>
                                    </md-content>
                                </md-tab>

                                <md-tab label="Tappa 1">
                                    <md-content>
                                        <div layout="column" layout-align="center stretch">
                                            <md-input-container>
                                                <label>Nome tappa</label>
                                                <input type="text" ng-model="path.locationData.stages[0].name">
                                            </md-input-container>
                                            <div layout="row" layout-sm="column">
                                                <md-input-container flex>
                                                    <label>Coordinata tappa (N)</label>
                                                    <input type="text"
                                                           ng-model="path.locationData.stages[0].location.coordinates[0]">
                                                </md-input-container>
                                                <md-input-container flex>
                                                    <label>Coordinata tappa (E)</label>
                                                    <input type="text"
                                                           ng-model="path.locationData.stages[0].location.coordinates[1]">
                                                </md-input-container>
                                            </div>
                                            <md-input-container>
                                                <label>Domanda</label>
                                                <input type="text"
                                                       ng-model="path.locationData.stages[0].question">
                                            </md-input-container>
                                            <md-input-container>
                                                <label>Risposta</label>
                                                <input type="text"
                                                       ng-model="path.locationData.stages[0].answer">
                                            </md-input-container>
                                        </div>
                                    </md-content>
                                </md-tab>
                            </md-tabs>
                        </md-dialog-content>
                    </md-card-content>
                </md-card>
            </div>
        </form>
    </div>
