---
name: log
url: /log
---

<div layout="row" layout-align="center center">
    <div layout="column" ng-controller="pathDetailsController as pathController">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <h3>Logga la tua esperienza</h3>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div layout="row" layout-margin>
                    <div>
                        <img src="/assets/img/white-flag.jpg">
                    </div>
                    <div>
                        <span class="md-headline">Nome percorso {{pathController.path.name}}</span>

                        <p class="italic">sottotitolo {{pathController.path.subtitle}}</p>

                        <p>Owner: {{pathController.path.owner}}</p>
                    </div>
                </div>
            </md-card-content>
        </md-card>
        <form>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <p>Esprimi un giudizio sulla bellezza, la complessità delle sfide
                            e la difficoltà richiesta per completare il percorso.</p>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <div layout="row">
                        <div layout="column" flex>
                            <h2 align="center">Bellezza</h2>

                            <div layout="row" layout-align="center center">
                                <i class="material-icons color-yellow">star_rate</i>
                                <i class="material-icons color-yellow">star_rate</i>
                                <i class="material-icons color-yellow">star_rate</i>
                                <i class="material-icons color-yellow">star_rate</i>
                                <i class="material-icons color-yellow">star_rate</i>
                                {{pathController.path.ownerVote.beauty}}
                            </div>
                        </div>
                        <div layout="column" flex>
                            <h2 align="center">Complessità</h2>

                            <div layout="row" layout-align="center center">
                                <i class="material-icons color-yellow">star_rate</i>
                                <i class="material-icons color-yellow">star_rate</i>
                                <i class="material-icons color-yellow">star_rate</i>
                                <i class="material-icons color-yellow">star_rate</i>
                                <i class="material-icons color-yellow">star_rate</i>
                                {{pathController.path.ownerVote.beauty}}
                            </div>
                        </div>
                        <div layout="column" flex>
                            <h2 align="center">Difficoltà</h2>

                            <div layout="row" layout-align="center center">
                                <i class="material-icons color-yellow">star_rate</i>
                                <i class="material-icons color-yellow">star_rate</i>
                                <i class="material-icons color-yellow">star_rate</i>
                                <i class="material-icons color-yellow">star_rate</i>
                                <i class="material-icons color-yellow">star_rate</i>
                                {{pathController.path.ownerVote.beauty}}
                            </div>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <p>Racconta la tua esperienza</p>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <md-input-container  style="width:100%;">
                            <textarea ng-model="review.description" columns="1" md-maxlength="300"
                                      rows="5"></textarea>
                    </md-input-container>
                </md-card-content>
            </md-card>
            <div layout="row" layout-align="center center">
                <md-button class="md-raised md-primary">Invia la tua recensione</md-button>
            </div>
        </form>
    </div>
</div>