---
name: login
url: /login
---

<div layout="row" layout-align="space-around center">
    <div layout="column" layout-margin style="width:510px;">
        <div layout-margin>
            <md-card>
                <md-card-content>
                    <form>
                        <md-toolbar>
                            <div class="md-toolbar-tools">
                                <h2>Login</h2>
                                <span flex></span>
                            </div>
                        </md-toolbar>
                        <md-dialog-content>
                            <md-tabs md-dynamic-height md-border-bottom>
                                <md-tab label="Login">
                                    <md-content class="md-padding">
                                        <md-card>
                                            <md-card-content>
                                                <div layout-margin>
                                                    Dati della <strong>SQUADRA</strong>
                                                </div>
                                                <div layout="row">
                                                    <div flex>
                                                        <md-input-container>
                                                            <label>Nome squadra</label>
                                                            <input type="text" ng-model="user.username">
                                                        </md-input-container>
                                                    </div>
                                                    <div flex>
                                                        <md-input-container>
                                                            <label>Password</label>
                                                            <input type="text" ng-model="user.password">
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                                <div layout="row" layout-align="center">
                                                    <md-button class="md-raised md-primary" layout-align="center">
                                                        <a class="button" ng-click="login()">Login</a>
                                                    </md-button>
                                                </div>
                                            </md-card-content>
                                        </md-card>
                                    </md-content>
                                </md-tab>
                                <md-tab label="Forgot password">
                                    <md-content class="md-padding">
                                        <md-card>
                                            <md-card-content>
                                                <div layout-margin>
                                                    Hai dimenticato la <strong>PASSWORD</strong>?
                                                </div>
                                                <div layout="row">
                                                    <i class="material-icons color-green">email</i>
                                                    <div flex>
                                                        <md-input-container>
                                                            <input ng-model="user.email" type="email"
                                                                   placeholder="Email (obbligatoria)"
                                                                   ng-required="true">
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                                <div layout="row">
                                                    <md-button class="md-raised md-primary" layout-align="center">
                                                        <a class="button" ng-click="login()">Recupera password</a>
                                                    </md-button>
                                                </div>
                                            </md-card-content>
                                        </md-card>
                                    </md-content>
                                </md-tab>
                            </md-tabs>
                        </md-dialog-content>
                    </form>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>