---
name: pathDetails
url: /paths/:pathId
---

<div layout="row" layout-align="space-around center" ng-controller="pathDetailsController as pathController">
    <div layout="column" layout-margin>
        <div layout="row" layout layout-align="center">
            <md-card flex="50">
                <md-card-title>
                    <md-card-title-text>
                        <div layout="row">
                            <div flex="20" layout-margin>
                                <img src="/assets/img/white-flag.jpg">
                            </div>
                            <div layout-margin>
                                <span class="md-headline">Percorso: Giro del Bondone{{pathController.path.name}}</span>

                                <p class="italic">Una semplice passeggiata nei dintorni di
                                    Trento{{pathController.path.subtitle}}</p>

                                <p>Creato da: Alessandro{{pathController.path.owner}}</p>
                            </div>
                        </div>

                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p class="italic">Il Bondone è la montagna di Trento. A inizio estate, la piccola area naturale
                        protetta si trasforma in un tappeto di colori, formato da millioni di fiori alpini.</p>
                </md-card-content>
            </md-card>
            <md-card>
                <md-content style="overflow: visible;">
                    <md-list>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <h3>Bellezza</h3>
                                <i class="material-icons color-yellow">star_rate</i>
                                <i class="material-icons color-yellow">star_rate</i>
                                <i class="material-icons color-yellow">star_rate</i>
                                {{pathController.path.ownerVote.beauty}}
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>

                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <h3>Complessità</h3>
                                <i class="material-icons color-yellow">star_rate</i>
                                <i class="material-icons color-yellow">star_rate</i>
                                {{pathController.path.ownerVote.complexity}}
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>

                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <h3>Difficoltà</h3>
                                <i class="material-icons color-yellow">star_rate</i>
                                <i class="material-icons color-yellow">star_rate</i>
                                <i class="material-icons color-yellow">star_rate</i>
                                <i class="material-icons color-yellow">star_rate</i>
                                <i class="material-icons color-yellow">star_rate</i>
                                {{pathController.path.ownerVote.difficulty}}
                            </div>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-card>
        </div>

        <div layout="row" layout layout-align="center" layout-md="column" layout-sm="column">
            <md-card class="centered-image">
                    <img src="/assets/img/mappaPlaceholder.jpg" alt="Mappa" style="max-height: 544px;max-width: 544px;">
            </md-card>
            <md-card>
                <md-content>
                    <md-list>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <div layout="row">
                                    <i class="material-icons">trending_flat</i>

                                    <div layout="column">
                                        <h3>Lunghezza</h3>

                                        <p><strong class="italic">1300{{pathController.path.pathData.length}}</strong>
                                            metri</p>
                                    </div>
                                </div>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>

                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <div layout="row">
                                    <i class="material-icons">trending_up</i>

                                    <div layout="column">
                                        <h3>Altitudine</h3>

                                        <p><strong class="italic">140{{pathController.path.pathData.altitude}}</strong>
                                            metri s.l.m.</p>
                                    </div>
                                </div>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>

                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <div layout="row">
                                    <i class="material-icons">swap_vert</i>

                                    <div layout="column">
                                        <h3>Differenza di altitudine</h3>

                                        <p><strong
                                                class="italic">30{{pathController.path.ownerVote.altitudeDifference}}</strong>
                                            m
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>

                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <div layout="row">
                                    <i class="material-icons">terrain</i>

                                    <div layout="column">
                                        <h3>Tipo di terreno</h3>

                                        <p><strong
                                                class="italic">Sterrato{{pathController.path.ownerVote.terrainType}}</strong>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>

                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <div layout="row">
                                    <i class="material-icons">explore</i>

                                    <div layout="column">
                                        <h3>Percorso avventuroso</h3>

                                        <p><strong class="italic">No{{pathController.path.ownerVote.adventure}}</strong>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <div layout="row">
                                    <i class="material-icons">alarm</i>

                                    <div layout="column">
                                        <h3>Tempo stimato di completamento</h3>

                                        <p><strong
                                                class="italic">130{{pathController.path.ownerVote.completementTime}}</strong>
                                            minuti</p>
                                    </div>
                                </div>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-card>
        </div>
        <!--<div class="grid-block">-->
            <!--<ui-gmap-google-map center='pathController.path.startPoint' zoom='pathController.zoom'>-->
                <!--<ui-gmap-marker idKey='1' coords='pathController.marker'>-->
                <!--</ui-gmap-marker>-->
            <!--</ui-gmap-google-map>-->

            <!--<div class="grid-content">-->
                <!--&lt;!&ndash;<img src="https://www.placehold.it/300x300" alt="Mappa">&ndash;&gt;-->
                <!--<div class="grid-content">-->
                    <!--<div class="grid-block vertical" style = "overflow-y: scroll; height: 400px">-->
                        <!--<div class="grid-content" ng-repeat=" feedback in pathController.path.feedbacks">-->
                            <!--<table>-->
                                <!--<tr>-->
                                    <!--<td>-->
                                        <!--<img src="https://www.placehold.it/100x100">-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--<div><b>{{feedback.user}}</b></div>-->
                                        <!--<div>{{feedback.review}}</div>-->
                                    <!--</td>-->
                                <!--</tr>-->
                            <!--</table>-->
                            <!--<div class="review">-->


                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>
