---
name: pathDetails
url: /paths/:pathId
---

<div class="grid-container" ng-controller="pathDetailsController as pathController">

    <div class="grid-block">
        <div class="grid-content">
            <div id="sidebar">
                <h2>{{pathController.path.name}}</h2>
            </div>
            <div>
                <h3>{{pathController.path.subtitle}}</h3>
            </div>
            <div class="medium-6">
                <p>{{pathController.path.description}}</p>
            </div>
            <div>
                <p>Owner: {{pathController.path.owner}}</p>
            </div>
        </div>
    </div>

    <h4>Valutazione di {{pathController.path.owner}}</h4>

    <div class="grid-block">
        <div class="grid-content">
            <hr>
            <strong>beauty</strong>
            <hr>
            <div class="beauty">
                {{pathController.path.ownerVote.beauty}}
            </div>
        </div>
        <div class="grid-content">
            <hr>
            <strong>complexity</strong>
            <hr>
            <div class="complexity">
                {{pathController.path.ownerVote.complexity}}
            </div>
        </div>
        <div class="grid-content">
            <hr>
            <strong>difficulty</strong>
            <hr>
            <div class="difficulty">
                {{pathController.path.ownerVote.difficulty}}
            </div>
        </div>
    </div>

    <h4>pathData</h4>

    <div class="grid-block">
        <div class="grid-content">
            <hr>
            <strong>lenght</strong>
            <hr>
            <div class="beauty">
                {{pathController.path.pathData.lenght}}
            </div>
        </div>
        <div class="grid-content">
            <hr>
            <strong>altitude</strong>
            <hr>
            <div class="complexity">
                {{pathController.path.pathData.altitude}}
            </div>
        </div>
        <div class="grid-content">
            <hr>
            <strong>altitudeDifference</strong>
            <hr>
            <div class="complexity">
                {{pathController.path.pathData.altitudeDifference}}
            </div>
        </div>
        <div class="grid-content">
            <hr>
            <strong>terrainType</strong>
            <hr>
            <div class="complexity">
                {{pathController.path.pathData.terrainType}}
            </div>
        </div>
        <div class="grid-content">
            <hr>
            <strong>adventure</strong>
            <hr>
            <div class="complexity">
                {{pathController.path.pathData.adventure}}
            </div>
        </div>
        <div class="grid-content">
            <hr>
            <strong>completementTime</strong>
            <hr>
            <div class="complexity">
                {{pathController.path.pathData.completementTime}}
            </div>
        </div>
    </div>

    <div class="grid-block">
        <ui-gmap-google-map center='pathController.path.stages[0].coordinates' zoom='pathController.zoom'>
            <ui-gmap-marker idKey='1' coords='pathController.marker'>
            </ui-gmap-marker>
        </ui-gmap-google-map>

        <div class="grid-content">
            <!--<img src="https://www.placehold.it/300x300" alt="Mappa">-->
            <div class="grid-content">
                <div class="grid-block vertical" style = "overflow-y: scroll; height: 400px">
                    <div class="grid-content" ng-repeat=" feedback in pathController.path.feedbacks">
                        <table>
                            <tr>
                                <td>
                                    <img src="https://www.placehold.it/100x100">
                                </td>
                                <td>
                                    <div><b>{{feedback.user}}</b></div>
                                    <div>{{feedback.review}}</div>
                                </td>
                            </tr>
                        </table>
                        <div class="review">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
