---
name: search
url: /search
---

<div layout="row" layout-align="center center" ng-controller="pathsController as pathsCtrl">
    <div layout="column">
        <form>
            <md-card>
                <md-card-content>
                        <h2>Cerca un percorso</h2>
                    <div id="searchInput">
                        <div layout="column" layout-align="center stretch">
                            <md-input-container>
                                <label>Posizione</label>
                                <input type="text" ng-model="pathsCtrl.address">
                            </md-input-container>
                        </div>
                        Inserisci un raggio di ricerca in km
                        <md-input-container layout="row">

                            <md-slider flex="50" min="1" max="100" ng-model="pathsCtrl.range" aria-label="red"
                                           id="red-slider"></md-slider>

                            <input flex="50" min="0" max="100" flex type="number" ng-model="pathsCtrl.range"
                                   aria-label="red"
                                       aria-controls="red-slider">

                        </md-input-container>
                    </div>
                </md-card-content>
            </md-card>

            <md-card>
                <md-card-content>
                        <h2>Aggiungi dei filtri alla ricerca</h2>
                    <div layout="row" id="filters" layout-align="center stretch">
                        <md-card>
                            <md-card-content>
                                <h4>Lunghezza percorso</h4>
                                <md-radio-group ng-model="pathsCtrl.length" ng-click="pathsCtrl.updateData()">
                                    <md-radio-button value="{{lengthClass.id}}"
                                                     ng-repeat="lengthClass in pathsCtrl.lengthClasses">
                                        {{lengthClass.label}}
                                    </md-radio-button>
                                </md-radio-group>
                            </md-card-content>
                        </md-card>
                        <md-card>
                            <md-card-content>
                                <h4>Tipologia di terreno</h4>
                                <md-radio-group ng-model="pathsCtrl.terrainType"
                                                ng-click="pathsCtrl.updateData()">
                                    <md-radio-button value="{{terrain.type}}"
                                                     ng-repeat="terrain in pathsCtrl.terrainTypes | orderBy: '_id'">
                                        {{terrain.type}}
                                    </md-radio-button>
                                </md-radio-group>
                            </md-card-content>
                        </md-card>
                        <md-card>
                            <md-card-content>
                                <h4>Durata</h4>
                                <md-radio-group ng-model="pathsCtrl.duration" ng-click="pathsCtrl.updateData()">
                                    <md-radio-button value="{{durationClass.id}}"
                                                     ng-repeat="durationClass in pathsCtrl.durationClasses">
                                        {{durationClass.label}}
                                    </md-radio-button>
                                </md-radio-group>
                            </md-card-content>
                        </md-card>
                    </div>
                </md-card-content>
            </md-card>

            <div layout="row" layout-align="center center">
                <md-button class="md-raised md-warn"
                           ng-click="pathsCtrl.updateLocationFromAddress(); pathsCtrl.updateData();">Cerca
                </md-button>
            </div>
        </form>

        <md-card>
            <md-card-content layout="stretch">
                <ui-gmap-google-map center='pathsCtrl.location' zoom='pathsCtrl.zoom' style="height:500px;">
                    <ui-gmap-markers models='pathsCtrl.markers' coords="'self'" options="'options'"></ui-gmap-markers>
                </ui-gmap-google-map>
            </md-card-content>
        </md-card>
    </div>
</div>