---
name: staticHome
url: /
---

<div class="text-center grid-container">
    <!--<img src="http://wallpaperbeta.com/wallpaper_1280x768/nature_tree_road_path_walk_review_landscape_1280x768_hd-wallpaper-369602.jpg">-->
    <div class="carousel">
    <div class="grid-block" id="firstStep">
        <div class="card">
            <img src="/assets/img/nature_tree_road_path_walk_review_landscape_1280x768_hd-wallpaper-369602.jpg">

            <div class="card-section">
                <h4>Crea un account gratuitamente</h4>

                <p>Il primo semplice passo è creare un account con cui potrai esplorare, scegliere e loggare i percorsi.
                    Questo ti consente inoltre di entrare nella community e metterti in contatto con altri persone per
                    organizzare esperienze in comune.</p>
            </div>
        </div>
    </div>
    <div class="grid-block" id="secondStep">
        <div class="card">
            <img src="/assets/img/7938_1280x800.jpg">

            <div class="card-section">
                <h4>Cerca un percorso</h4>

                <p>Mediante il sito di Let's Moove puoi cercare e scegliere il percoso che più ti piace
                    Cosa stai aspettando? Ci sono un sacco di esperienze outdoor che ti aspettano e indovinelli
                    da risolvere!</p>
            </div>
        </div>
    </div>
    <div class="grid-block" id="thridStep">
        <div class="card">
            <img src="/assets/img/B9315539750Z.1_20141217155806_000_GAS9EHMN5.1-0.jpg">

            <div class="card-section">
                <h4>Logga un percorso</h4>

                <p>Una volta completato un percorso esprimi un giudizio a riguardo. Ti è piaciuto?
                    Hai incontrato delle difficoltà? Gli indovinelli ti hanno messo a dura prova?</p>
            </div>
        </div>
    </div>
    </div>

    <script>
//        TODO spostare nel controller
        $(document).ready(function(){
            $('.carousel').slick();
        });
    </script>
</div>


