---
name: staticHome
url: /
---

<div layout="column" layout-align="center">
    <div flex class="centered-image">
        <img class="home-photo" src="/assets/img/BannerStaticHome.png">
        </div>
    <div flex layout-gt-xs="row" layout-xs="column">
        <md-card flex layout-align="center center">
                    <md-card-content class="home-card">
                        <h2 class="md-title">Crea un account gratuito</h2>

                        <p>
                            Il primo semplice passo è creare un account con cui potrai esplorare, scegliere e loggare i
                            percorsi.
                            Questo ti consente inoltre di entrare nella community e metterti in contatto con altre
                            persone per organizzare esperienze in comune.
                        </p>
                    </md-card-content>
            <img class="wallpaper" src="/assets/img/firstImageStaticHome.jpg">
                </md-card>

        <md-card flex layout-align="center center">
            <md-card-content flex class="home-card">
                        <h2 class="md-title">Cerca un percorso</h2>

                        <p>
                            Mediante il sito di Let's Moove puoi cercare e scegliere il percoso che più ti piace.
                            </br>
                            Cosa stai aspettando?</br> Ci sono un sacco di esperienze outdoor che ti aspettano e indovinelli
                            da risolvere!
                        </p>
                    </md-card-content>
            <img class="wallpaper" src="/assets/img/secondImageStaticHome.jpg">
                </md-card>

        <md-card flex layout-align="center center">
            <md-card-content flex class="home-card">
                        <h2 class="md-title">Logga un'esperienza</h2>

                        <p>
                            Una volta completato un percorso esprimi un giudizio a riguardo. Ti è piaciuto?
                            Hai incontrato delle difficoltà? Gli indovinelli ti hanno messo a dura prova?
                            </br>Oltre a questo ti aspetta una comunity ansiosa di divertirsi insieme a te!
                        </p>
                    </md-card-content>
            <img class="wallpaper" src="/assets/img/thirdImageStaticHome.jpg">
                </md-card>
        </div>
    <div flex layout="row" layout-align="center">
            <div ng-include="'/templates/signup.html'"></div>
        </div>
    </div>



