---
name: userHome
url: /user
authenticate : false
---
<div layout="column" layout-fill layout-align="center" ng-cloack onload="codeAddress()">
    <div ng-controller="pathsController as pathsCtrl" layout-sm="column" layout-gt-sm="row">
        <md-card flex="grow">
            <md-card-content class="mapDiv" flex>
                <ui-gmap-google-map center='pathsCtrl.location' zoom='pathsCtrl.zoom'>
                    <ui-gmap-markers models='pathsCtrl.markers' coords="'self'" options="'options'"></ui-gmap-markers>
                </ui-gmap-google-map>
            </md-card-content>
        </md-card>
        <md-card flex>
            <md-card-title>
                <md-card-title-text style="text-align: center; background-color: #80d8ff;">
                    <h3>Percorsi vicini a te</h3>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-list layout="column" layout-wrap layout-align="space-around">
                    <md-divider></md-divider>
                    <md-list-item ng-repeat="i in [1,2,3]" class="md-3-line">
                        <div class="md-list-item-text">
                            <div layout="column" layout-align="center center">
                                <div layout="row" layout-align="space-between center" layout-margin>
                                    <h3><strong>Nel bosco di Cadine</strong></h3>
                                    <md-button>
                                        <md-icon>keyboard_arrow_right</md-icon>
                                        Info
                                    </md-button>
                                </div>

                                <div layout="column" layout-align="space-between center" layout-margin>
                                    <div layout="row" flex layout-margin>
                                        <div layout="column" layout-align="space-around start">
                                            <label>Bellezza</label>
                                            <label>Complessità</label>
                                            <label>Difficoltà</label>
                                        </div>
                                        <div layout="column" layout-align="start center">
                                            <div layout="row">
                                                <md-icon class="color-yellow" ng-repeat="i in [1,2,3,4,5]"
                                                         ng-click="insertionCtrl.path.ownerVote.beauty=i"
                                                         ng-class="{'color-light-yellow':i>insertionCtrl.path.ownerVote.beauty, 'color-yellow': insertionCtrl.path.ownerVote.beauty>=i}">
                                                    star_rate
                                                </md-icon>
                                            </div>
                                            <div layout="row">
                                                <md-icon class="color-yellow" ng-repeat="i in [1,2,3,4,5]"
                                                         ng-click="insertionCtrl.path.ownerVote.complexity=i"
                                                         ng-class="{'color-light-yellow':i>insertionCtrl.path.ownerVote.complexity, 'color-yellow': insertionCtrl.path.ownerVote.complexity>=i}">
                                                    star_rate
                                                </md-icon>
                                            </div>
                                            <div layout="row">
                                                <md-icon class="color-yellow" ng-repeat="i in [1,2,3,4,5]"
                                                         ng-click="insertionCtrl.path.ownerVote.difficulty=i"
                                                         ng-class="{'color-light-yellow':i>insertionCtrl.path.ownerVote.difficulty, 'color-yellow': insertionCtrl.path.ownerVote.difficulty>=i}">
                                                    star_rate
                                                </md-icon>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                    <md-list-item class="md-3-line">
                        <div class="md-list-item-text">
                            <div layout="column" layout-align="center center">
                                <div layout="row" layout-align="space-between center" layout-margin>
                                    <h3><strong>Nel bosco di Cadine</strong></h3>
                                    <md-button>
                                        <md-icon>keyboard_arrow_right</md-icon>
                                        Info
                                    </md-button>
                                </div>

                                <div layout="column" layout-align="space-between center" layout-margin>
                                    <div layout="row" flex layout-margin>
                                        <div layout="column" layout-align="space-around start">
                                            <label>Bellezza</label>
                                            <label>Complessità</label>
                                            <label>Difficoltà</label>
                                        </div>
                                        <div layout="column" layout-align="start center">
                                            <div layout="row">
                                                <md-icon class="color-yellow" ng-repeat="i in [1,2,3,4,5]"
                                                         ng-click="insertionCtrl.path.ownerVote.beauty=i"
                                                         ng-class="{'color-light-yellow':i>insertionCtrl.path.ownerVote.beauty, 'color-yellow': insertionCtrl.path.ownerVote.beauty>=i}">
                                                    star_rate
                                                </md-icon>
                                            </div>
                                            <div layout="row">
                                                <md-icon class="color-yellow" ng-repeat="i in [1,2,3,4,5]"
                                                         ng-click="insertionCtrl.path.ownerVote.complexity=i"
                                                         ng-class="{'color-light-yellow':i>insertionCtrl.path.ownerVote.complexity, 'color-yellow': insertionCtrl.path.ownerVote.complexity>=i}">
                                                    star_rate
                                                </md-icon>
                                            </div>
                                            <div layout="row">
                                                <md-icon class="color-yellow" ng-repeat="i in [1,2,3,4,5]"
                                                         ng-click="insertionCtrl.path.ownerVote.difficulty=i"
                                                         ng-class="{'color-light-yellow':i>insertionCtrl.path.ownerVote.difficulty, 'color-yellow': insertionCtrl.path.ownerVote.difficulty>=i}">
                                                    star_rate
                                                </md-icon>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
    <div layout="row" layout-align="center start">
        <md-card flex>
            <md-card-title layout-align="center center">
                <h3>Le tue statistiche</h3>
            </md-card-title>
            <md-card-content>
                <div layout-gt-sm="row" layout-sm="column" layout-align="space-around stretch">

                    <md-list layout="column" flex>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <div layout="row" layout-align="start center">
                                    <i class="material-icons">search</i>
                                    <label>Complessità media:</label>
                                    <strong class="italic spaced">2</strong>stelle
                                </div>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <div layout="row" layout-align="start center">
                                    <i class="material-icons">hourglass_full</i>
                                    <label>Tempo trascorso:</label>
                                    <strong class="italic spaced">10</strong>ore
                                </div>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <div layout="row" layout-align="start center">
                                    <i class="material-icons">find_replace</i>
                                    <label>Quiz risolti:</label>
                                    <strong class="italic spaced">20</strong>
                                </div>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <div layout="row" layout-align="start center">
                                    <i class="material-icons">grade</i>
                                    <label>Percorsi preferiti:</label>
                                    <strong class="italic spaced">3</strong>
                                </div>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <div layout="row" layout-align="start center">
                                    <i class="material-icons">question_answer</i>
                                    <label>Messaggi inviati (chat):</label>
                                    <strong class="italic spaced">200</strong>
                                </div>
                            </div>
                        </md-list-item>
                    </md-list>

                    <md-list layout="column" flex>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <div layout="row" layout-align="start center">
                                    <i class="material-icons">straighten</i>
                                    <label>Distanza percorsa:</label>
                                    <strong class="italic spaced">15000</strong>metri
                                </div>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <div layout="row" layout-align="start center">
                                    <i class="material-icons">local_offer</i>
                                    <label>Percorsi loggati:</label>
                                    <strong class="italic spaced">5</strong>
                                </div>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <div layout="row" layout-align="start center">
                                    <i class="material-icons">trending_up</i>
                                    <label>Altitudine totale:</label>
                                    <strong class="italic spaced">3000</strong>metri
                                </div>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <div layout="row" layout-align="start center">
                                    <i class="material-icons">terrain</i>
                                    <label>Terreno preferito:</label>
                                    <strong class="italic spaced">Sterrato</strong>
                                </div>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <div layout="row" layout-align="start center">
                                    <i class="material-icons">star_half</i>
                                    <label>Difficoltà media:</label>
                                    <strong class="italic spaced">3,5</strong>stelle
                                </div>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
            </md-card-content>
        </md-card>
        <md-card flex>
            <md-card-title layout-align="center center">
                <h3>Feedback dati ai tuoi percorsi</h3>
            </md-card-title>
            <md-card-content>
                <div layout-gt-sm="row" layout-sm="column" layout-align="space-around stretch">
                    <md-list layout="column" flex="grow">
                        <md-list-item ng-repeat="i in [1,2,3,4]" class="md-3-line">
                            <div class="md-list-item-text">
                                <div layout="row" layout-align="center">
                                    <img ng-src="assets/img/accountPic.jpeg" class="md-avatar" />

                                    <p>Here goes the feedback review.</p>
                                </div>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <div layout="row" layout-align="center">
                                    <img ng-src="assets/img/accountPic.jpeg" class="md-avatar" />

                                    <p>Here goes the feedback review.</p>
                                </div>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>