---
name: userHome
url: /user
authenticate : false
---
<div layout="column" layout-fill layout-align="center" ng-cloack>

    <div ng-controller="pathsController as pathsCtrl" layout-sm="column" layout-gt-sm="row">
        <md-card flex="grow">
            <md-card-content flex>
                <ui-gmap-google-map center='pathsCtrl.location' zoom='pathsCtrl.zoom'>
                <ui-gmap-markers models='pathsCtrl.markers' coords="'self'" options="'options'"></ui-gmap-markers>
            </ui-gmap-google-map>
        </md-card-content>
    </md-card>
        <md-card flex>
            <md-card-title>
                <md-card-title-text style="text-align: center;">
                    Percorsi consigliati
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-list layout-sm="row" layout-gt-sm="column" layout-wrap layout-align="space-around">
                <md-list-item class="md-3-line">
                    <div class="md-list-item-text">
                        <div layout="column" layout-align="center center">
                            <h3>Nel bosco di Cadine</h3>
                            <div layout="row" layout-align="space-between center"  layout-margin>
                                <div layout="column">
                                    <div layout="row" layout-align="start center">
                                        <i class="material-icons">trending_flat</i><strong class="italic spaced">7000</strong>m
                                    </div>
                                    <div layout="row" layout-align="start center">
                                        <i class="material-icons">trending_up</i><strong class="italic spaced">640</strong>m
                                    </div>
                                    <div layout="row" layout-align="start center">
                                        <i class="material-icons">swap_vert</i><strong class="italic spaced">200</strong>m
                                    </div>
                                </div>
                                <div layout="column">
                                    <div layout="row" layout-align="start center">
                                        <i class="material-icons">terrain</i><strong class="italic spaced">Sterrato</strong>
                                    </div>
                                    <div layout="row" layout-align="start center">
                                        <i class="material-icons">explore</i><strong class="italic spaced">Si</strong>
                                    </div>
                                    <div layout="row" layout-align="start center">
                                        <i class="material-icons">alarm</i><strong class="italic spaced">180</strong>min
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
                <md-list-item class="md-3-line">
                    <div class="md-list-item-text">
                        <div layout="column" layout-align="center center">
                            <h3>Nel bosco di Cadine</h3>
                            <div layout="row" layout-align="space-between center"  layout-margin>
                                <div layout="column">
                                    <div layout="row" layout-align="start center">
                                        <i class="material-icons">trending_flat</i><strong class="italic spaced">7000</strong>m
                                    </div>
                                    <div layout="row" layout-align="start center">
                                        <i class="material-icons">trending_up</i><strong class="italic spaced">640</strong>m
                                    </div>
                                    <div layout="row" layout-align="start center">
                                        <i class="material-icons">swap_vert</i><strong class="italic spaced">200</strong>m
                                    </div>
                                </div>
                                <div layout="column">
                                    <div layout="row" layout-align="start center">
                                        <i class="material-icons">terrain</i><strong class="italic spaced">Sterrato</strong>
                                    </div>
                                    <div layout="row" layout-align="start center">
                                        <i class="material-icons">explore</i><strong class="italic spaced">Si</strong>
                                    </div>
                                    <div layout="row" layout-align="start center">
                                        <i class="material-icons">alarm</i><strong class="italic spaced">180</strong>min
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
                <md-list-item class="md-3-line">
                    <div class="md-list-item-text">
                        <div layout="column" layout-align="center center">
                            <h3>Nel bosco di Cadine</h3>
                            <div layout="row" layout-align="space-between center"  layout-margin>
                                <div layout="column">
                                    <div layout="row" layout-align="start center">
                                        <i class="material-icons">trending_flat</i><strong class="italic spaced">7000</strong>m
                                    </div>
                                    <div layout="row" layout-align="start center">
                                        <i class="material-icons">trending_up</i><strong class="italic spaced">640</strong>m
                                    </div>
                                    <div layout="row" layout-align="start center">
                                        <i class="material-icons">swap_vert</i><strong class="italic spaced">200</strong>m
                                    </div>
                                </div>
                                <div layout="column">
                                    <div layout="row" layout-align="start center">
                                        <i class="material-icons">terrain</i><strong class="italic spaced">Sterrato</strong>
                                    </div>
                                    <div layout="row" layout-align="start center">
                                        <i class="material-icons">explore</i><strong class="italic spaced">Si</strong>
                                    </div>
                                    <div layout="row" layout-align="start center">
                                        <i class="material-icons">alarm</i><strong class="italic spaced">180</strong>min
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
                <md-list-item class="md-3-line">
                    <div class="md-list-item-text">
                        <div layout="column" layout-align="center center">
                            <h3>Nel bosco di Cadine</h3>
                            <div layout="row" layout-align="space-between center"  layout-margin>
                                <div layout="column">
                                    <div layout="row" layout-align="start center">
                                        <i class="material-icons">trending_flat</i><strong class="italic spaced">7000</strong>m
                                    </div>
                                    <div layout="row" layout-align="start center">
                                        <i class="material-icons">trending_up</i><strong class="italic spaced">640</strong>m
                                    </div>
                                    <div layout="row" layout-align="start center">
                                        <i class="material-icons">swap_vert</i><strong class="italic spaced">200</strong>m
                                    </div>
                                </div>
                                <div layout="column">
                                    <div layout="row" layout-align="start center">
                                        <i class="material-icons">terrain</i><strong class="italic spaced">Sterrato</strong>
                                    </div>
                                    <div layout="row" layout-align="start center">
                                        <i class="material-icons">explore</i><strong class="italic spaced">Si</strong>
                                    </div>
                                    <div layout="row" layout-align="start center">
                                        <i class="material-icons">alarm</i><strong class="italic spaced">180</strong>min
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </md-list-item>
            </md-list>
            </md-card-content>
    </md-card>
</div>
    <div layout="row" layout-align="center start">
        <md-card flex>
        <md-card-title layout-align="center center">
            <h3>Le tue statistiche</h3>
        </md-card-title>
        <md-card-content>
            <div layout-gt-sm="row" layout-sm="column" layout-align="space-around stretch">

                <md-list layout="column">
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <div layout="row" layout-align="center">
                                    <i class="material-icons">search</i>
                                    <label>Complessità media:</label>
                                    <strong class="italic spaced">2</strong>stelle
                                </div>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <div layout="row" layout-align="center center">
                                    <i class="material-icons">hourglass_full</i>
                                    <label>Tempo trascorso:</label>
                                    <strong class="italic spaced">10</strong>ore
                                </div>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <div layout="row" layout-align="center center">
                                    <i class="material-icons">find_replace</i>
                                    <label>Quiz risolti:</label>
                                    <strong class="italic spaced">20</strong>
                                </div>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <div layout="row" layout-align="center center">
                                    <i class="material-icons">grade</i>
                                    <label>Percorsi preferiti:</label>
                                    <strong class="italic spaced">3</strong>
                                </div>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <div layout="row" layout-align="center center">
                                    <i class="material-icons">question_answer</i>
                                    <label>Messaggi inviati (chat):</label>
                                    <strong class="italic spaced">200</strong>
                                </div>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                    </md-list>

                <md-list layout="column">
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <div layout="row" layout-align="center center">
                                    <i class="material-icons">straighten</i>
                                    <label>Distanza camminata</label>:</label>
                                    <strong class="italic spaced">15000</strong>metri
                                </div>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <div layout="row" layout-align="center center">
                                    <i class="material-icons">local_offer</i>
                                    <label>Percorsi loggati:</label>
                                    <strong class="italic spaced">5</strong>
                                </div>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <div layout="row" layout-align="center center">
                                    <i class="material-icons">trending_up</i>
                                    <label>Altitudine totale:</label>
                                    <strong class="italic spaced">3000</strong>metri
                                </div>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <div layout="row" layout-align="center center">
                                    <i class="material-icons">terrain</i>
                                    <label>Terreno preferito:</label>
                                    <strong class="italic spaced">Sterrato</strong>
                                </div>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <div layout="row" layout-align="center center">
                                    <i class="material-icons">star_half</i>
                                    <label>Difficoltà media:</label>
                                    <strong class="italic spaced">3,5</strong>stelle
                                </div>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                </md-list>
            </div>
        </md-card-content>
    </md-card>
        <md-card flex>
            <md-card-title>
                <md-card-title-text style="text-align: center;">
                    Cerca un percorso
                </md-card-title-text>
            </md-card-title>
        <md-card-content>
            <div layout="row" layout-align="center center">
                <md-input-container>
                    <label>Es. Nel bosco di Cadine</label>
                    <input type="text">
                </md-input-container>
                <md-button class="md-raised md-primary">Cerca
                </md-button>
            </div>
        </md-card-content>
    </md-card>
    </div>

</div>