#signUpLink {
    text-align: center;
    width: 10rem;
    border: 1px white solid;
    margin-right: 2rem;
}

#logInLink {
    text-align: center;
    width: 10rem;
    border: 1px white solid
}

.top-bar {
    padding-top: 2rem;
    height: 7rem;
}

.right {
    margin-right: 2rem !important;
}
